.blue{
    width: 200px;
    height: 200px;
    top: 100px;
    left: 200px;
    background: blue;
    color: white;
}

.green {
    width: 200px;
    height: 200px;
    background: green;
    position: absolute;
    top: 100px;
    left: 100px;
}