.image_grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


.image_thumbnail {
    width: 100%;
}

.title_conainer{
    position: relative;
    opacity: 0;
}

.photo_box:hover .title_conainer{
    opacity: 1;
    transition: 0.5s;
}

.photo_box{
    width:100%;
    height: 300px;
    border-radius: 5px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    position: absolute;
    padding: 5px 10px;
    top:0px;
    left:0px;
    right: 0px;
}