*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 1000px;
}

a{
    color: orange;
    text-decoration: none;
}

a:hover{
    color: white;
}

.navbar a{
    display: block;
    color: turquoise;
    font-size: 16px;
    padding: 10px 5px;
}

.navbar a:hover{
    background-color: white;
    transition: 0.5s;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #24292e;
}

.nav_item{
    display: flex;
}

.content{
    padding: 50px 10px 10px 10px;
}

.photo_list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

.photo_list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.form_container{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0;
    bottom:0;
    left:0;
    right: 0;
}

.contact_form{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.text_field{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.button_layout{
    display:flex;
    justify-content: flex-end;
}

.button{
    padding: 5px 10px;
    background-color: green;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: white;
}

.button:hover{
    cursor: pointer;
}

.form_error{
    color: orange;
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: 5px;
}