@import url("images.css");
@import url("navbar.css");
@import url("photo_detail.css");
@import url("contact.css");
@import url("home.css");
@import url("about.css");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0c0c0c;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

a{
    color: orange;
    text-decoration: none;
    font-size: 20px;
}

hr {
    border: none;
    border-bottom: 1px solid #ffffff40;
    margin: 10px 0px;
}

a:hover{
    color: #67acd4;
}


.content{
    padding: 50px 10px 10px 10px;
}