.navbar a{
    display: block;
    color: turquoise;
    font-size: 16px;
    padding: 10px 5px;
}

.navbar a:hover{
    background-color: white;
    transition: 0.5s;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #24292e;
}

.nav_item{
    display: flex;
}