.navbar a{
    display: block;
    color: #afafaf;
    font-size: 16px;
    padding: 10px 5px;
}

.navbar a:hover{
    background-color: #64b7de;
    transition: 0.5s;
    color: #24292e;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ffffff40;
}

.nav_item{
    display: flex;
}

.active {
    background-color: green;
    color: white;
}