<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Navbar -->
    {% include '_navbar.html' %}

    <!-- Page content -->
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>