{% extends '_base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
    <div class="form_container">
            <form method="post" class="contact_form">
                    {% csrf_token %}
                    <div>
                        <div class="form_error">{{ form.subject.errors }}</div>
                        {{ form.subject }}
                    </div>
            
                    <div>
                        <div class="form_error">{{ form.email.errors }}</div>
                        {{ form.email }}
                    </div>
            
                    <div>
                        <div class="form_error">{{ form.message.errors }}</div>
                        {{ form.message }}
                    </div>
                    
                    <div class="button_layout">
                        <button type="submit" class="button">Send</button>
                    </div>
            </form>
    </div>

{% endblock content %}