{% extends '_base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
    <h1>Contact Page</h1>
    <form action="">
        
        <input type="text" name='name' placeholder="Name">
        <br>
        <br>
        <input type="email" name='email' placeholder="Email">

        <br>
        <br>
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        <br>
        <br>
        <button>Küldés</button>
    </form>
{% endblock content %}