{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="image_grid">

        {% for photo in photos %}
            <a href="" class="thumbnail_container">
                
                <div class="title_conainer">
                    <div class="title">{{photo.name}}</div>
                </div>
                
                <img src="{{photo.image.url}}" alt="" class="image_thumbnail">
            </a>
        {% endfor %}

    </div>


{% endblock content %}