{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div class="background_photo" style="background-image: url( {{background_photo.image.url}} );">
    </div>

    <div class="center_page_container">
        <div class="photo_title">Wellcome on my page</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quia quos adipisci vel expedita laudantium autem assumenda, ad voluptatem natus odio veniam facere eos non id distinctio ex praesentium ipsa.</p>
    </div>

    {% include '_footer.html' %}

{% endblock content %}